{%block footer%}
    <footer class="bg-light text-center text-lg-start">
{#      <p>Наши достижения:</p>#}
{#  <ul>#}
{#    <li><strong>Пользователи:</strong> 1</li>#}
{#    <li><strong>Посты:</strong> 2</li>#}
{#    <li><strong>Лайки</strong>3</li>#}
{#  </ul>#}
  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2022 Copyright:
    <a class="text-dark" href="https://github.com/MrCa4">MrCa4</a>
  </div>
  <!-- Copyright -->
</footer>
{% endblock %}